html{
    overflow: hidden;
}

body{
    margin:0;
}

content{
    background-color: gray;
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto 70% auto;
    align-items: stretch;
}

content > div{
    background-color: gray;
}

.header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blacking{
    background-color: gray;
}

.border{
    border: 3px solid gray;
    border-radius: 20px;
}

#main{
    background-color: black;
    position: relative;
    z-index: 100;
}

#gui{
    position: absolute;
    top:0;
    left:0;
    z-index: 800;
    color: white;
}

.ugs_elem{
    position: absolute;
}

/*-----------------INGAME--------------------*/

#gui_test{
    padding:10px;
    position: absolute;
    left: 50%;
    transform:translate(-50%,0);
}